

@font-face{
    font-family: 'Segoe UI';
    src: url(../SegoeUI.ttf);
}
body{

    overflow-x:hidden;
    overflow-y: hidden;
    scrollbar-base-color: #3A473D;

}
.header{
    height: 16%;
    width: 100%;
    float: right;

}
.block-body{
    height: 100vh;
    width: 81vw;
    position: absolute;
    left: 19vw;
}
.background{
    position:fixed;
    z-index: -1;
    left:0;
    width: 100vw;
    height: 100vh;
}
.side-bar{
    height: 100vh;
    width: 19vw;
    float: left;
    position: fixed;
    background-color: #292929;
}
.content{
    height: 68.5vh;
    margin-top: 10.5%;
    margin-left: 6.5%;
    width: 94%;
}
.footer{
    height: 11%;
    width: 100%;
    margin-left: 6.3%;
    position: absolute;
    bottom: 0;
}

.logo {
    width: 9.2vw;
    height: 11vh;
    margin-top: 8.3vh;
    margin-left: 3.7vw;
}
.logo img{
    width: 100%;
    height: 100%;
}
.left-nav-menu{
    margin-left: 3.7vw;
    margin-top: 6.7vh;
    position: absolute;
}
.left-nav-menu li{
    /*margin-top: 8%;*/
    line-height: 3vh;
}

.left-nav-menu li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 1.6vh;
    color: #e3e3e3;
    cursor: pointer;
}
.left-nav-menu li a:hover{
    border-bottom: 1px solid #e3e3e3;
}
.submenu{
    border-left: 3px solid #e3e3e3;
    padding-left: 13%;
    height: auto;
    //display: none;
}
.search-area{
    margin-left: 3.7vw;
    width: 11.6vw;
    position: absolute;
    bottom: 11.2%;
    top: 85.8%;
    background-color: #3F3F3F;
    outline: none;
    border: none;
    padding-left: 14%;
    font-size: 1.4vh;
}
.search-area:focus{
    background-color: #5F5F5F;
    color: #e3e3e3;
}
.search-img{
    width: 7%;
    height: 2.5%;
    position: absolute;
    top: 86%;
    bottom: 11.5%;
    left: 22%;
    right: 71%;
}
.top-nav-menu{
   width: 99%;
   position: absolute;
   left: 1.4%;
   top: 11.1vh;
   bottom: 87.1vh;
}
.top-nav-menu li{
   float: left;
   margin-left: 5.2%;
}
.top-nav-menu a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 1.6vh;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: normal;
}
.top-nav-menu a:hover{
   border-bottom: 1px solid #e3e3e3;
}
.top-nav-menu a:target{
   border-bottom: 1px solid #e3e3e3;
}
.partners{
    height: 46.3%;
    width: 30%;
    background-color: #3E5042;
    position: absolute;
    top: 16%;
    bottom: 37.7%;
}
.partners h1 {
    padding-left: 6.7%;
    padding-top: 6.7%;
    padding-bottom: 6.7%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    color: #e3e3e3;
}
.about-us{
    height: 46vh;
    width: 30.1%;
    background-color: #56685C;
    margin-left: 30.4%;
    position: absolute;
    top: 16%;
    padding-bottom: 0.3vh
}
.section{
    height: 21.6%;
    width: 60.5%;
    position: absolute;
    top: 63%;
    bottom: 15.4%;
    background-color: #56685C;
}

.about-us h1 {
    padding-left: 6.7%;
    padding-top: 6.7%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;

    color: #e3e3e3;
}
.about-us-img{
    height: 28%;
    width: 90%;
    margin-top: 8.9%;
    margin-left: 5.1%;
    margin-right: 5.1%;
    background: url(../images/about-us.png) no-repeat center;
    background-size: 100%;
}
.about-us h2 {
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 3.4%;
    margin-left: 5.1%;
}
.information-loren-ipsum {
    font-family: 'Segoe UI';
    font-size: 1.3vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
    margin-top: 2.7%;
    margin-left: 5.1%;
    margin-right: 5.1%;
}
.about-us h3 {
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 4.2%;

}
.about-us h4 {
    font-family: 'Segoe UI';
    font-size: 1.2vh;
    font-style: italic;
    color: #e3e3e3;
    position: absolute;
    right: 6.7%;
    bottom: 21%;
    top: 77%;
}
.about-us img {
    width: 5vw;
    height: 9vh;
    margin-left: 1.2vw;
    margin-top: 2vh;
    float: left;
    padding-right: 0.5vw;

}
.information-linus-torvalds {
    font-family: 'Segoe UI';
    font-size: 1.3vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
    margin-top: 2.7%;
    margin-right: 5.1%;
}
.section h1 {
    padding-left: 1.5vw;
    padding-top: 3vh;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    color: #e3e3e3;
    position: absolute;
}
.prev-img {
    height: 17%;
    width: 2.5%;
    margin-left: 2%;
    bottom: 33%;
    top: -33%;
    position: relative;
    float: left;
    background: url(../images/prev.png) no-repeat;
    background-size: 100%;
}
.prev-img:hover {
    background: url(../images/prev-hover.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.slider{
    padding-top: 11.5%;
    display: block;
    margin-left: 2.5vw;
}
.slider li{
    height: 9vh;
    width: 6.9vw;
    padding-left: 0.21vw;
    padding-right: 0.21vw;
}
.slider a{
    bottom: -75px;
    text-decoration: none;
    color: #e3e3e3;
}
.section-text{
    font-family: 'Segoe UI';
    font-size: 1.2vh;
    margin-top: 45%;
    width: 6.6vw;
    height: 2vh;
    text-align: center;
    margin-left: 5%;
}
.section-img
{
    width: 3.5%;
    position: absolute;
    padding-left: 2.2vw;
}

.slider a:hover{
    opacity: 0.3;
    cursor: pointer;
    text-decoration: underline;
}

.next-img {
    background: url(../images/next.png) no-repeat;
    background-size: 100%;
    height: 17%;
    width: 2.5%;
    margin-right: 2%;
    bottom: 33%;
    top: -33%;
    position: relative;
    float: right;
}
.next-img:hover {
    background: url(../images/next-hover.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.footer-information{
    height: 5%;
    width: 35%;
    position: absolute;
}
.contact-details{
    height:  5%;
    width: 13%;
    position: absolute;
    left: 47.8%;
    right: 39.2%;
}
.feedback{
    height: 41.5%;
    width: 13.5%;
    background-color: #56685C;
    cursor: pointer;
    position: absolute;
    right: 25%;
    left: 61.5%;
    bottom: 5%;
}
.footer-information p{
    font-family: 'Segoe UI';
    font-size: 1.4vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
}
.contact-details p{
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-weight: normal;
    line-height: 2.5vh;
    color: #e3e3e3;
    float: right;
}
.feedback h1{
    text-align: center;
    line-height = height;
    font-family: 'Segoe UI';
    font-size: 1.6vh;
    color: #e3e3e3;
    padding-top: 7%;
}
.floating-block{
    height: 25.7vh;
    width: 13.6%;
    right: 25%;
    left: 61.5%;
    bottom: 5%;
    display: none;
    float: right;
    position: absolute;
    background-color: #56685C;
    box-shadow: 0 0 10px;
}
.floating-block h1{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 1.7vh;
    color: #e3e3e3;
    padding-top: 1.7vh;
}
.floating-block h2{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 1.5vh;
    color: #e3e3e3;
    margin-top: 1.2vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}
.floating-block h3{
    font-family: 'Segoe UI';
    font-size: 1.4vh;
    color: #e3e3e3;
    margin-top: 3.2vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}
.floating-block h4{
    font-family: 'Segoe UI';
    font-size: 1vh;
    font-style: italic;
    color: #e3e3e3;
    margin-top: 0.5vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}
.barcode{
    width: 2.6vw;
    height: 3.6vh;
    margin-top: 1.2vh;
    margin-left: 0.4vw;
    margin-bottom: 3.2vh;
    margin-right: 0.25vw;
    float: left;
}
.barcode img {
    width: 100%;
    height: 100%;
}
.electromail{
    clear: both;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 3.4vh;
    width: auto;
    cursor: pointer;
}
.electromail img{
    float: left;
    margin: 0.4vw;
}
.electromail p{
    font-family: 'Segoe UI';
    font-size: 1.2vh;
    color: #e3e3e3;
    margin: 0.4vw;
}
.partners2, .partners3, .partners4{
    display: none;
}
.current {
    border-bottom: 1px solid #e3e3e3;
}

.content-second-page{
    height: 69vh;
    width: 92.5vh;
    margin-top: 10.5%;
    margin-left: 6.5%;
    background-color: #56685C;
    padding-top: 0.5%;
}
.scroller{
    overflow-x: hidden;
    margin-right: 0.4vh;
    height: 61vh;
    width: 92vh;

}
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.container{
    height: 59.8vh;
    width: 100%;
    position: relative;
    background-color: #56685C;
}
.container h1 {
    padding-left: 2.2%;
    padding-top: 2.2%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    color: #e3e3e3;
    position: absolute;
}
.map {
    margin-left: 2%;
    margin-top: 11.8%;
    height: 55.1%;
    width: 86.5%;
}

.block-information{
    width: 56.2%;
    height: auto;
    margin-top: 2.4%;
    margin-left: 2%;
    position: relative;
}
.second-page-information {
    font-family: 'Segoe UI';
    font-size: 1.3vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
    padding-bottom: 9.7%;
}
.second-page-numbers{
    width: 20.5%;
    height: 16.5%;
    right: 2%;
    float: right;
    bottom: 7%;
    position: absolute;
}
.first-number, .second-number{
    font-family: 'Segoe UI';
    font-size: 2vh;
    font-weight: normal;
    line-height: 2.5vh;
    color: #e3e3e3;
}
.mail{
    font-family: 'Segoe UI';
    font-size: 2vh;
    font-weight: normal;
    line-height: 5.5vh;
    color: #e3e3e3;
}
.nav-map{
    padding-left: 2%;
    padding-top: 11.8%;
    height: 55.1%;
    width: 75.5%;
}
.banner{
    float: right;
    right: 10%;
    margin-top: -33.2vh;
    margin-right: -9%;
    height: 55.1%;
    width: 20%;
    border: 1px solid black;
    position: relative;
}
.banner img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;

}
.viewport{
    width: 20.4vw;
    height: 33vh;
    overflow: hidden;
    position: relative;
    margin-left: 6.7%;

}
.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 33vh;
    margin: 0;
    padding: 0;
}
.slide{
    width: 20.4vw;
    height: 33vh;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

}
.slide-logo{
    float: left;
    width: 10vw;
    height: 10.9vh;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.slide-logo img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #29362D;
}
.slide-logo :hover{
    background-color: #B9BFBB;
}
.toggles{
    text-align: center;
}
.dot{
    display: inline-block;
    width: 0.53vw;
    height: 1vh;
    border-radius: 50%;
    background: #ccc;
    margin-left: 1.5%;
}
.dot.active{
    background: #999;
}
