
body{

    scrollbar-base-color: #3A473D;
	position: fixed;

}
.header{
    margin-left: 90px;
    width: 94%;
}
.block-body{
    height: 100%;
    width: 300%;
    position: absolute;
    left: 100%;
	z-index: 2;
}
.background{
    position:fixed;
    z-index: -1;
    left:0;
    width: 104%;
    height: 104%;
}
.side-bar{
    height: 100vh;
    width: 19vw;
	min-width: 200px;
    float: left;
   /* position: fixed; */
    background-color: #292929;
}
.content{
    height: 68.5vh;
    margin-left: 90px;
    width: 94%;
}
.footer{
    /*height: 11%;
    width: 100%;
    margin-left: 6.3%;
    position: absolute;
    bottom: 45px;
	opacity: 0;*/
	height: 11%;
    width: 128%;
    margin-left: 90px;
    position: absolute;
    bottom: 5px;
    /* opacity: 0; */
}

.logo {
    width: 49%;
    height: 11%;
    margin: 0 auto;
    margin-top: 24%;
}
.logo img{
    max-width: 100%;
    height: auto;
}
.side-bar .nav{
    margin-left: 3.7vw;
    margin-top: 6.7vh;
    position: absolute;
}
.side-bar .nav li{
    /*margin-top: 8%;*/
    line-height: 3vh;
}

.side-bar .nav li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 1.6vh;
    color: #e3e3e3;
    cursor: pointer;
}
.side-bar .nav li a:hover{
    border-bottom: 1px solid #e3e3e3;
}
.side-bar .nav ul {
	border-left: 2px solid #e3e3e3;
	padding-left: 13%;
	display: none;
}
.submenu{
    border-left: 3px solid #e3e3e3;
    padding-left: 13%;
    height: auto;
    display: none;
}
.side-bar .finder {
    position:absolute;            
    top: 86%;
    bottom: 11.5%;
    left: 22%;
    right: 71%;
}
.side-bar .finder input{
    width: 10.6vw;
    height: 3vh;
    background-color: #3F3F3F;
    border-radius: 4px;    
    outline: none;
    border: none;
    padding-left: 144%;
    font-size: 1.4vh;
}
.finder input:focus{
    background-color: #5F5F5F;
    color: #e3e3e3;
}

.about-us .finder {
}
.about-us #search-form{
    margin-top: 2%;
    text-align: center;
    color: #e3e3e3;
}
.about-us .search-pages-counter{
    position: relative;
    left: 7%;
    color: #e3e3e3;
}
.about-us .finder input{
    width: 16.6vw;
    height: 3vh;
    background-color: #4F4F4F;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 5%;
    font-size: 1.4vh;
    margin-top: 2%;
    margin-bottom: 2%;
}
.finder input:focus{
    background-color: #5F5F5F;
    color: #e3e3e3;
}
.about-us .finder button {
    display: none;
}
.about-us .result-title{
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-style: italic;
    
    margin-left: 7%;
    margin-bottom: 7%;
}
.about-us .result-title a{
    color: #e3e3e3;
    text-decoration: none;
}
.about-us .result-title a:hover{
    text-decoration: underline;
}
.about-us #search-result-empty{
    color: #e3e3e3;
    margin-left: 7%;
}
.about-us #search-result-empty p{
    margin-top: 2%;
}
.about-us .mini-info {
        font-family: 'Segoe UI';
    font-size: 0.6vw;
    font-style: italic;
    color: #e3e3e3;
    position: relative;
    right: 5.1%;
    float: right;
    /* bottom: 23%; */
    top: -8px;
}
.search-img{
    width: 7%;
    height: 2.5%;
    position: absolute;
    top: 86.3%;
    bottom: 11.5%;
    left: 23%;
    right: 71%;
}
.header .nav{
       /* width: 99%; */
    position: relative;
    /* left: 20px; */
    top: 11.1vh;
    /* bottom: 87.1vh; */
    /* margin-left: 90px; */
    width: 94%;
}
.header .nav li{
   float: left;
   margin-right: 4vw;
}
.header .nav a{
    text-decoration: none;
    font-family: 'Segoe UI';
    //font-size: 1.6vh;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: normal;
}
.header .nav a:hover{
   border-bottom: 2px solid #e3e3e3;
}
.header .nav a:target{
   border-bottom: 2px solid #e3e3e3;
}
.partners{
    height: 46.3%;
    width: 43%;
    background-color: #3E5042;
    position: absolute;
    top: 16%;
    bottom: 37.7%;
	transition: all 2s ease-in-out;
}
.partners h1 {
    padding-left: 6.7%;
    padding-top: 6.7%;
    padding-bottom: 6.7%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    color: #e3e3e3;
}
.about-us{
	width: 43.2%;
    height: 46%;
    background-color: #56685C;
    margin-left: 45.4%;
    position: absolute;
    top: 16%;
    padding-bottom: 2px;
}
.section{
    /*height: 14.6%;
    width: 60.5%;
    position: absolute;
    top: 63%;
    bottom: 15.4%;
    background-color: #56685C;
	opacity: 0; */
	height: 22.6%;
    width: 88.7%;
    position: absolute;
    top: 64%;
    bottom: 15.4%;
    background-color: #56685C;
    /* opacity: 0; */
}

.about-us h1 {
    padding-left: 6.7%;
    padding-top: 6.7%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;

    color: #e3e3e3;
}
.about-us-img{
    height: 28%;
    width: 90%;
    margin-top: 2.9%;
    margin-left: 5.1%;
    margin-right: 5.1%;
}
.about-us h2 {
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 3.4%;
    margin-left: 5.1%;
}
.information-loren-ipsum {
    font-family: 'Segoe UI';
    font-size: 1.3vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
    margin-top: 2.7%;
    margin-left: 5.1%;
    margin-right: 5.1%;
}
.about-us h3 {
    font-family: 'Segoe UI';
    font-size: 1vw;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 4.2%;
	width: 70%;
}

.about-us-img1 {
    width: 5vw;
    height: 9vh;
    margin-left: 1.2vw;
    margin-top: 2vh;
    float: left;
    padding-right: 0.5vw;
}
.information-linus-torvalds {
    font-family: 'Segoe UI';
    font-size: 1.3vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
    margin-top: 2.7%;
    margin-right: 5.1%;
	    margin-left: 1.2vw;
}
.section h1 {
    padding-left: 3.7%;
    padding-top: 2.7%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    color: #e3e3e3;
    position: absolute;
}
.prev-img {
    height: 17%;
    width: 2.5%;
    margin-left: 2%;
    bottom: 33%;
    top: -33%;
    position: relative;
    float: left;
    background: url(../images/prev.png) no-repeat;
    background-size: 100%;
}
.prev-img:hover {
    background: url(../images/prev-hover.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.slider{
    padding-top: 11.5%;
    display: block;
    margin-left: 5%;
}
.slider li{
    height: 9vh;
    width: 6.9vw;
    padding-left: 0.21vw;
    padding-right: 0.21vw;
}
.slider a{
    bottom: -75px;
    text-decoration: none;
    color: #e3e3e3;
}
.section-text{
    font-family: 'Segoe UI';
    font-size: 1.2vh;
    margin-top: 45%;
    width: 6.6vw;
    height: 2vh;
    text-align: center;
    margin-left: 5%;
}
.section-img
{
    width: 3.5%;
    position: absolute;
    padding-left: 2.2vw;
}

.slider a:hover{
    opacity: 0.3;
    cursor: pointer;
    text-decoration: underline;
}

.next-img {
    background: url(../images/next.png) no-repeat;
    background-size: 100%;
    height: 17%;
    width: 2.5%;
    margin-right: 2%;
    bottom: 33%;
    top: -33%;
    position: relative;
    float: right;
}
.next-img:hover {
    background: url(../images/next-hover.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.footer-information{
    height: 5%;
    width: 35%;
    position: absolute;
}

.feedback{
    height: 41.5%;
    width: 190px;
    background-color: #56685C;
    cursor: pointer;
    position: absolute;
    left: 73.5%;
    bottom: 5%;
}
.footer-information p{
    font-family: 'Segoe UI';
    font-size: 1.4vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
}
.contact-details p{
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-weight: normal;
    line-height: 2.5vh;
    color: #e3e3e3;
    /* float: right; */
    /* display: block; */
    /* float: right; */
    margin-left: 57%;
}
.feedback h1{
    text-align: center;
    line-height = height;
    font-family: 'Segoe UI';
    font-size: 1.6vh;
    color: #e3e3e3;
    padding-top: 7%;
}
.floating-block{
    height: 237%;
    width: 190px;
    left: 73.5%;
    bottom: 5%;
    display: none;
    float: right;
    position: absolute;
    background-color: #56685C;
    box-shadow: 0 0 10px;
}
.floating-block h1{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 1.7vh;
    color: #e3e3e3;
    padding-top: 10px;
}
.floating-block h2{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 1.5vh;
    color: #e3e3e3;
    margin-top: 1.2vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}
.floating-block h3{
    font-family: 'Segoe UI';
    font-size: 1.4vh;
    color: #e3e3e3;
    margin-top: 3.2vh;
    margin-left: 7px;
}
.floating-block h4{
    font-family: 'Segoe UI';
    font-size: 1vh;
    font-style: italic;
    color: #e3e3e3;
    margin-top: 0.5vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}
.barcode{
    width: 2.6vw;
    height: 3.6vh;
    margin-top: 1.2vh;
    margin-left: 0.4vw;
    margin-bottom: 3.2vh;
    margin-right: 0.25vw;
    float: left;
}
.barcode img {
    width: 100%;
    height: 100%;
}
.electromail{
    clear: both;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 3.4vh;
    width: auto;
    cursor: pointer;
}
.electromail img{
    float: left;
    margin: 0.4vw;
}
.electromail p{
    font-family: 'Segoe UI';
    font-size: 1.2vh;
    color: #e3e3e3;
    margin: 0.4vw;
}
.partners2, .partners3, .partners4{
    display: none;
}
.current a {
    border-bottom: 2px solid #e3e3e3;
}

.content-second-page{
    height: 69vh;
    width: 92.5vh;
    margin-top: 10.5%;
    margin-left: 6.5%;
    background-color: #56685C;
    padding-top: 0.5%;
}
.scroller{
    overflow-x: hidden;
    margin-right: 0.4vh;
    height: 61vh;
    width: 92vh;

}
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.container{
    height: 59.8vh;
    width: 100%;
    position: relative;
    background-color: #56685C;
}
.container h1 {
    padding-left: 2.2%;
    padding-top: 2.2%;
    font-family: 'Segoe UI';
    font-size: 4.5vh;
    color: #e3e3e3;
    position: absolute;
}
.map {
    margin-left: 2%;
    margin-top: 11.8%;
    height: 55.1%;
    width: 86.5%;
}

.block-information{
    width: 56.2%;
    height: auto;
    margin-top: 2.4%;
    margin-left: 2%;
    position: relative;
}
.second-page-information {
    font-family: 'Segoe UI';
    font-size: 1.3vh;
    font-weight: normal;
    line-height: 1.5vh;
    color: #e3e3e3;
    padding-bottom: 9.7%;
}
.second-page-numbers{
    width: 20.5%;
    height: 16.5%;
    right: 2%;
    float: right;
    bottom: 7%;
    position: absolute;
}
.first-number, .second-number{
    font-family: 'Segoe UI';
    font-size: 2vh;
    font-weight: normal;
    line-height: 2.5vh;
    color: #e3e3e3;
}
.mail{
    font-family: 'Segoe UI';
    font-size: 2vh;
    font-weight: normal;
    line-height: 5.5vh;
    color: #e3e3e3;
}
.nav-map{
    padding-left: 2%;
    padding-top: 11.8%;
    height: 55.1%;
    width: 75.5%;
}
.banner{
    float: right;
    right: 10%;
    margin-top: -33.2vh;
    margin-right: -9%;
    height: 55.1%;
    width: 20%;
    border: 1px solid black;
    position: relative;
}
.banner img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;

}
.viewport{
    width: 20.4vw;
    height: 33vh;
    overflow: hidden;
    position: relative;
    margin-left: 6.7%;

}
.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 33vh;
    margin: 0;
    padding: 0;
}
.slide{
    width: 20.4vw;
    height: 33vh;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

}
.slide-logo{
    float: left;
        width: 50%;
    height: 16vh;
    text-align: center;
    vertical-align: middle;
    position: relative;
overflow: hidden;
}
.slide-logo img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	width: 80%;
    height: auto;
    background-color: #29362D;
}
.slide-logo :hover{
    background-color: #B9BFBB;
}
.toggles{
    text-align: center;
}
.dot{
    display: inline-block;
    width: 0.53vw;
    height: 1vh;
    border-radius: 50%;
    background: #ccc;
    margin-left: 1.5%;
}
.dot.active{
    background: #999;
}
.partners:hover .logo img{
	display: none;
}
.menu_link  {
	display: none;
}
.menu_link span {
	display: none;
}
.menu_link_down span {
	display: none;
}


@media (max-width: 800px) {
  .side-bar {
    display: none;
	cursor: default;
 }
	
.menu_link {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 55px;
    height: 100%;
	background-color: #292929;
	z-index: 3;
}
.menu_link:hover {
	cursor: pointer;
}
.menu_link span {
    display: block;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: -15px;
    -webkit-transform: translatey(-100%) rotate(-90deg);
    transform: translatey(-100%) rotate(-90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-size: 23px;
    color: #666;
    text-transform: uppercase;
    font-family: 'pf_din_text_cond_probold';
    white-space: nowrap;
}

.menu_link_down {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    width: 55px;
    height: 100%;
	background-color: #979797;
	z-index: 3;
	display: none;
}
.menu_link_down:hover {
	cursor: pointer;
}
.menu_link_down span {
    display: block;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: -15px;
    -webkit-transform: translatey(-100%) rotate(-90deg);
    transform: translatey(-100%) rotate(-90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-size: 23px;
    color: #292929;
    text-transform: uppercase;
    font-family: 'pf_din_text_cond_probold';
    white-space: nowrap;
}
.side-bar{
    height: 100vh;
    width: 100vw;
	min-width: 200px;
    float: left;
   /* position: fixed; */
    background-color: #292929;
	z-index: 100;
}

.logo {
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
    overflow: hidden;
    height: auto;
}
.logo img{
	width: 230px;
    height: auto;
}
.side-bar .nav{
    margin-left: 3.7vw;
    margin-top: 6.7vh;
    position: absolute;
}
.side-bar .nav li{
    /*margin-top: 8%;*/
    line-height: 3vh;
}

.side-bar .nav li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #e3e3e3;
    cursor: pointer;
    line-height: 1.7;
}
.side-bar .nav li a:hover{
    border-bottom: 1px solid #e3e3e3;
}
.side-bar .nav ul {
	border-left: 2px solid #e3e3e3;
	padding-left: 13%;
}
.submenu{
    border-left: 3px solid #e3e3e3;
    padding-left: 13%;
    height: auto;
}
.side-bar .finder {
    position: absolute;
    top: 86%;
    bottom: 11.5%;
    left: 2%;
    right: 84%;
}
.side-bar .finder input{
    width: 210px;
	height: 29px;
    background-color: #3F3F3F;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 42%;
    font-size: 1.4vh;
    /* left: -81px; */
}
.finder input:focus{
    background-color: #5F5F5F;
    color: #e3e3e3;
}
.search-img{
    width: 36px;
    height: 26px;
    position: absolute;
    top: 86.3%;
    bottom: 11.5%;
    left: 2%;
    right: 71%;
}
.block-body{
    height: 100vh;
    width: 99vw;
    position: absolute;
    left: 0;
    z-index: 2;
	overflow: hidden;
}
.header{
    margin-left: 90px;
    width: 94%;
}
.content{
    height: 68.5vh;
    margin-left: 90px;
    width: 94%;
}
.footer-information{
    height: 5%;
    width: 35%;
    position: absolute;
}
.contact-details{
    height:  5%;
    width: 16%;
    position: absolute;
    left: 47.8%;
    right: 39.2%;
}
.feedback{
    height: 38px;
    width: 158px;
    background-color: #56685C;
    cursor: pointer;
    position: absolute;
    left: 31%;
    bottom: 10px;
	display: none;
}
.floating-block{
    height: 210px;
    width: 158px;
    left: 31%;
    bottom: 10px;
    display: none;
    float: right;
    position: absolute;
    background-color: #56685C;
    box-shadow: 0 0 10px;
}
.viewport{
    width: 550px;
    height: 33vh;
    overflow: hidden;
    position: relative;
    margin-left: 6.7%;

}
.slide {
    width: 327px;
    height: 33vh;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide-logo {
    float: left;
    width: 151px;
    height: 10.9vh;
    text-align: center;
    vertical-align: middle;
    position: relative;
	overflow: hidden;
}
.slide-logo img {
    position: absolute;
    margin: auto; 
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 73px;
    height: auto;
    background-color: #29362D;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    margin-left: 1.5%;
}
.section{
    /*height: 14.6%;
    width: 60.5%;
    position: absolute;
    top: 63%;
    bottom: 15.4%;
    background-color: #56685C;
	opacity: 0; */
	height: 22.6%;
    width: 87%;
    position: absolute;
    top: 64%;
    bottom: 15.4%;
    background-color: #56685C;
    /* opacity: 0; */
}
.slider{
    padding-top: 9.5vh;
    display: block;
    margin-left: 5%;
}
.slider li{
    height: 9vh;
    width: 15.5%;
    padding-left: 0.21vw;
    padding-right: 0.21vw;
}
.slider a{
    bottom: -75px;
    text-decoration: none;
    color: #e3e3e3;
}
.section-text{
    font-family: 'Segoe UI';
    font-size: 1.2vh;
    margin-top: 45%;
    width: 6.6vw;
    height: 2vh;
    text-align: center;
    margin-left: 5%;
}
.section-img
{
    width: 3.5%;
    position: absolute;
    padding-left: 1.3vw;
}
.prev-img {
    height: 17%;
    width: 2.5%;
    margin-left: 2%;
    bottom: 33%;
    top: -33%;
    position: relative;
    float: left;
    background: url(../images/prev.png) no-repeat;
    background-size: 100%;
	z-index: 5;
}
.next-img {
    background: url(../images/next.png) no-repeat;
    background-size: 100%;
    height: 17%;
    width: 2.5%;
    margin-right: 2%;
    bottom: 33%;
    top: -33%;
    position: relative;
    float: right;
	z-index: 5;
}
.contact-details p{
    font-family: 'Segoe UI';
    font-size: 1.8vh;
    font-weight: normal;
    line-height: 2.5vh;
    color: #e3e3e3;
    /* float: right; */
    /* display: block; */
    /* float: right; */
    margin-left: 0;
    width: 134%;
}
.about-us-img1 {
    width: 8.5vw;
    height: 6vh;
    margin-left: 1.2vw;
    margin-top: 2vh;
    float: left;
    padding-right: 0.5vw;
}
}